version: '2'
services:
  postgres:
    image: "postgres:alpine"
    container_name: postgres-hydra
    restart: always
    ports:
      - '5432:5432'
    volumes:
      - 'postgres:/var/lib/postgresql/data'
    networks:
      - core 
    environment:
      POSTGRES_DB: hydra_mainnet
      POSTGRES_USER: hydra
      POSTGRES_PASSWORD: password
  core:
    image: internetofpeople/hydra-core:2.5.19-rc2
    container_name: hydra-core
    restart: always
    command: mainnet ${MODE} ${FORGING_MODE}
    ports:
      # P2P
      - '4701:4701'
      # API
      - '4703:4703'
      # WEBHOOK
      - '4704:4704'
      # API WALLET
      - '4040:4040'
    cap_add:
      - SYS_NICE
      - SYS_RESOURCE
      - SYS_TIME
    volumes:
      - ./mountpoints/config_overwrite:/root/config_overwrite # overwrite core's config
      - ./mountpoints/sqlite:/root/.local/share/hydra-core # sqlite db
      - ./mountpoints/logs:/root/.local/state/hydra-core # logs
      - ./mountpoints/logs_pm2:/root/.pm2/logs # pm2 logs
      - /etc/localtime:/etc/localtime:ro
    networks:
      - core
    tty: true
    links:
     - postgres
    depends_on:
      - postgres
  explorer:
    image: internetofpeople/hydra-explorer:mainnet
    container_name: hydra-explorer
    restart: always
    ports:
      - '80:4200'
    networks:
      - core
    links:
      - core
    depends_on:
      - postgres
      - core
volumes:
  postgres:
  core:
networks:
  core:
